div{
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    position: absolute;
    top: 300px;
    right: 500px;
    font-size: 20px;
    border: black 2px solid;
     transition-property: all;
      transition-duration: 2s; 
      /* transition-timing-function: steps(1);  */
      /* transition-delay: 1s;    */
       
   
} 

div:hover{
    background-color: darkmagenta;
    font-size: 30px;
   color: wheat;
   font-style: italic;
    background-image:url(hackker.jpg); 
    border-color: white;
    transform: rotate(360deg);
    /* transform: scale(1.5, 2);
    transform: translate(0px, -500px); */
    /* TEXT KAISE CHANGE KRENGE */
}

div:active{
    background-color: burlywood;   
}